<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>SDI router control</title>
    {# <link rel="stylesheet" type="text/css" href="external/semantic.min.css"> #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    {# <script src="external/semantic.min.js"></script> #}
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui/dist/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="app">
        {%- if name is not none %}
        <div class="ui inverted vertical center aligned segment" id="header">
            <div class="ui container">
            <h3>
                {{ name }}
            </h3>
            </div>
        </div>
        {%- endif %}
        <div class="ui container">
            <div class="ui fluid three item menu stackable borderless secondary pointing" id="menu">
                <a class="{% if file == 'connections' %}active {% endif %}item"{% if file != 'connections' %} href="connections"{% endif %}>
                    <i class="plug icon"></i>
                    Connections
                </a>
                <a class="{% if file == 'labels' %}active {% endif %}item"{% if file != 'labels' %} href="labels"{% endif %}>
                    <i class="pencil alternate icon"></i>
                    Labels
                </a>
                <div class="ui item">
                    <div class="content">
                        <div class="ui icon input">
                            <i class="search icon"></i>
                            <input type="text" placeholder="Search labels..." oninput="filterLabels(this.value)">
                        </div>
                    </div>
{%- raw %}
                    <div v-bind:class="{ invisible: statusMessage === '' }" style="margin-left: .5em;">
                        <button class="ui circular red icon button" v-on:click="displayMessage" title="Show error message">
                            <i class="exclamation icon"></i>
                        </button>
                    </div>
{%- endraw %}
                </div>
            </div>
        </div>
        <div id="content">
{%- block content %}
{%- endblock %}
        </div>
        <div class="ui basic modal" id="localStatusOverlay">
            <div class="ui icon header">
                <i class="exclamation triangle icon">
                Lost connection to the backend
                </i>
            </div>
            <div class="content">
                <div class="ui inline indeterminate text loader">Reconnecting...</div>
            </div>
        </div>
        <div class="ui basic modal" id="backendStatusOverlay">
            <div class="ui icon header">
                <i class="exclamation triangle icon">
{%- raw %}
                    {{ statusMessage }}
{%- endraw %}
                </i>
            </div>
            <div class="content">
{%- raw %}
                <div class="ui inline indeterminate text loader" v-bind:class="{ hidden: status !== 'connecting' }">Reconnecting...</div>
{%- endraw %}
            </div>
        </div>
        <div class="ui inverted vertical footer segment" id="footer">
            <div class="ui container">
            SDI router UI{% if version is not none %} <a href="https://gitlab.com/rndmatter/sdi-router/-/tree/{{ hash }}">{{ version }}</a>{% endif %}.
            This program is licensed under the <a href="https://gitlab.com/rndmatter/sdi-router/-/blob/{{ hash }}/LICENSE">GNU AGPLv3</a>.
            Refer to the <a href="https://gitlab.com/rndmatter/sdi-router/-/blob/{{ hash }}/README.md">documentation</a> for help.
            </div>
        </div>
    </div>
    <script src="{{ file }}.js"></script>
</body>

</html>
