{% include 'utils.js' %}

Vue.component('inputButton', {
    props: ['attr', 'selected', 'parent'],
    methods: {
        select: function() {
            this.parent.input = this.attr.id;
            this.parent.dirty = true;
        }
    },
{%- raw %}
    template: `
<div class="fixed-margin column">
    <button class="min-width-small ui button" v-bind:class="{ primary: selected }" v-on:click="select">
        {{ attr.id + 1}}: <font :color="selected ? 'white' : '#2486f4'">{{ attr.label }}</font> <br/>
        {{ attr.usage <= 0 ? "(unused)" : "(in use by " + attr.usage + (attr.usage > 1 ? " outputs)" : " output)") }}
    </button>
</div>`
{%- endraw %}
});

Vue.component('connection', {
    props: ['attr', 'inputs'],
    computed: {
        modalId: function() {
            return `modal-${this.attr.id}`
        }
    },
    methods: {
        open: function() {
            $('#' + this.modalId).modal('show');
        },
        closeModal: function() {
            $('#' + this.modalId).modal('hide');
        },
        save: function() {
            var self = this;
            var payload = {
                output: this.attr.id,
                input: this.attr.input
            };

            axios.post(apiURL + 'route', payload)
            .then((response) => {
                var errorMsg = response.data.error || undefined;

                if (response.status != 200 || errorMsg) {
                    alert(`error while saving: "${errorMsg}" [status: ${response.status}]`);
                } else {
                    self.attr.dirty = false;
                    loadConnections();
                    self.closeModal();
                }
            });
        }
    },
{%- raw %}
    template: `
<div class="fixed-margin column">
    <button class="min-width ui basic labeled icon button" v-bind:class="{ disabled: attr.locked }" v-on:click="open">
        <i v-bind:class="{ 'lock open icon': !attr.locked, 'lock icon': attr.locked }"></i>
        Output {{ attr.id + 1 }}: <font color="#2486f4">{{ attr.label }}</font>
        <br>Input {{ attr.input + 1 }}: <font color="#000000">{{ inputs.length > attr.input ? inputs[attr.input].label : "connecting..." }}</font>
        <br><font color="red">{{ attr.dirty ? "unsaved changes" : "" }}</font>
    </button>
    <div class="ui basic modal" v-bind:id="modalId">
        <div class="ui icon header">
            <i class='random icon'>
                Select input for output {{ attr.id + 1 }}: {{ attr.label }}
            </i>
        </div>
        <div class="content ui stackable four column grid">
            <inputButton
                v-for="inp in inputs"
                v-bind:attr="inp"
                v-bind:key="inp.id"
                v-bind:selected="attr.input == inp.id"
                v-bind:parent="attr"
            ></inputButton>
        </div>
        <div class="actions">
            <button class="ui deny button">Close</button>
            <button class="ui positive right labeled icon button" v-on:click="save">Save<i class="checkmark icon"></i></button>
        </div>
    </div>
</div>`
{%- endraw %}
});

var app = new Vue({
    el: '#app',
    data: {
        connections: [],
        inputs: [],
        filterText: "",
        status: "",
        statusMessage: ""
    },
    computed: {
        filteredConnections: function() {
            if (this.filterText === "") {
                return this.connections;
            }

            outputs = [];
            this.connections.forEach((connection) => {
                if (connection.label.toLowerCase().includes(this.filterText)
                    || (connection.input < app.inputs.length &&
                        (app.inputs[connection.input].label.toLowerCase().includes(this.filterText)
                        || (app.inputs[connection.input].id + 1).toString().includes(this.filterText)))
                    || (connection.id + 1).toString().includes(this.filterText)) {
                    outputs.push(connection);
                }
            });

            return outputs;
        }
    },
    methods: {
        displayMessage: function() {
            $('#backendStatusOverlay').modal('show');
        }
    },
    mounted() {
        // $('.ui.dropdown').dropdown();
        loadInputs(true);
        loadConnections(true);
    }
})

function backendStatusHandler(status, message) {
    if (app.status !== status) {
        app.status = status;

        if (status !== 'connected') {
            app.statusMessage = message;
            $('#backendStatusOverlay').modal('show');
        } else {
            app.statusMessage = '';
            $('#backendStatusOverlay').modal('hide');
        }
    }
}

function accessConnections() {
    return app.connections;
}

function loadConnections(reload = false) {
    return loadResource(accessConnections, apiURL + 'connections', reload, backendStatusHandler);
}

function loadInputs(reload = false) {
    $.getJSON(apiURL + 'inputs', function(data) {
        app.inputs = data.objects;
    });

    if (reload) {
        setTimeout(loadInputs, reloadTimeout, reload);
    }
}

function filterLabels(filterText = "") {
    app.filterText = filterText.toLowerCase();
}
