{%- extends 'base.html.jinja2' %}
{%- block content %}
        <h4 class="ui horizontal divider header">
            Connections
        </h4>
        <div class="ui stackable four column grid container">
            <connection
                v-for="conn in filteredConnections"
                v-bind:attr="conn"
                v-bind:key="conn.id"
                v-bind:inputs="inputs"
                v-bind:dirty="false"
            ></connection>
        </div>
{%- endblock %}
