{%- extends "base.html.jinja2" %}
{%- block content %}
        <h4 class="ui horizontal divider header">
            <!-- <i class="sign in icon"></i> -->
            Input Labels
        </h4>
        <div class="ui stackable four column grid container">
            <labelform
                v-for="input in filteredInputs"
                v-bind:attr="input"
                v-bind:key="input.id"
                v-bind:type="'input'"
            ></labelform>
        </div>
        <h4 class="ui horizontal divider header">
            <!-- <i class="sign out icon"></i> -->
            Output Labels
        </h4>
        <div class="ui stackable four column grid container">
            <labelform
                v-for="output in filteredOutputs"
                v-bind:attr="output"
                v-bind:key="output.id"
                v-bind:type="'output'"
            ></labelform>
        </div>
{%- endblock %}
