{% include 'utils.js' %}

Vue.component('labelform', {
    props: ['attr', 'type'],
    computed: {
        modalId: function() {
            return `modal-${this.type}-${this.attr.id}`
        }
    },
    methods: {
        open: function() {
            $('#' + this.modalId).modal('show');
        },
        closeModal: function() {
            $('#' + this.modalId).modal('hide');
        },
        save: function() {
            var self = this;
            var payload = {
                id: this.attr.id,
                type: this.type,
                value: this.attr.label
            };

            axios.post(apiURL + 'changeLabel', payload)
            .then((response) => {
                var errorMsg = response.data.error || undefined;

                if (response.status != 200 || errorMsg) {
                    alert(`error while saving: "${errorMsg}" [status: ${response.status}]`);
                } else {
                    self.attr.dirty = false;

                    if (self.type === 'input'){
                        loadInputs();
                    } else {
                        loadConnections();
                    }

                    self.closeModal();
                }
            });
        },
        markDirty: function(event) {
            this.attr.dirty = true
        }
    },
{%- raw %}
    template: `
<div class="fixed-margin column">
    <button class="min-width ui basic labeled icon button" v-bind:class="{ disabled: attr.locked }" v-on:click="open">
        <i v-bind:class="{ 'sign in icon': (type === 'input'), 'sign out icon': (type === 'output') }"></i>
        {{ attr.id + 1 }}: <font color="#2486f4">{{ attr.label }}</font>
        <br><font color="red">{{ attr.dirty ? "unsaved changes" : "" }}</font>
    </button>
    <div class="ui basic modal" v-bind:id="modalId">
        <div class="ui icon header">
            <i class='edit icon'>
                Change label for {{ type }} {{ attr.id + 1 }}: {{ attr.label }}
            </i>
        </div>
        <div class="ui inverted form">
            <div class="field">
                <input type="text" v-model.trim="attr.label" @input="markDirty"></input>
            </div>
        </div>
        <div class="actions">
            <button class="ui deny button">Close</button>
            <button class="ui positive right labeled icon button" v-on:click="save">Save<i class="checkmark icon"></i></button>
        </div>
    </div>
</div>`
{%- endraw %}
});

var app = new Vue({
    el: '#app',
    data: {
        connections: [],
        inputs: [],
        filterText: "",
        status: "",
        statusMessage: ""
    },
    computed: {
        filteredOutputs: function() {
            if (this.filterText === "") {
                return this.connections;
            }

            outputs = [];
            this.connections.forEach((connection) => {
                if (connection.label.toLowerCase().includes(this.filterText) || (connection.id + 1).toString().includes(this.filterText)) {
                    outputs.push(connection);
                }
            });

            return outputs;
        },
        filteredInputs: function() {
            if (this.filterText === "") {
                return this.inputs;
            }

            inputs = [];
            this.inputs.forEach((input) => {
                if (input.label.toLowerCase().includes(this.filterText) || (input.id + 1).toString().includes(this.filterText)) {
                    inputs.push(input);
                }
            });

            return inputs;
        }
    },
    methods: {
        displayMessage: function() {
            $('#backendStatusOverlay').modal('show');
        }
    },
    mounted() {
        loadInputs(true);
        loadConnections(true);
    }
})

function backendStatusHandler(status, message) {
    if (app.status !== status) {
        app.status = status;

        if (status !== 'connected') {
            app.statusMessage = message;
            $('#backendStatusOverlay').modal('show');
        } else {
            app.statusMessage = '';
            $('#backendStatusOverlay').modal('hide');
        }
    }
}

function accessInputs() {
    return app.inputs;
}

function accessConnections() {
    return app.connections;
}

function loadInputs(reload = false) {
    return loadResource(accessInputs, apiURL + 'inputs', reload);
}

function loadConnections(reload = false) {
    return loadResource(accessConnections, apiURL + 'connections', reload, backendStatusHandler);
}

function filterLabels(filterText = "") {
    app.filterText = filterText.toLowerCase();
}
