body, html {
    height: 100%;
}

#header {
    margin-bottom: 0px;
}

#menu {
    margin-top: 0px;
    margin-bottom: 2em;
}

#app {
    display: flex;
    flex-flow: column;
    height: 100%;
}

#content {
    flex: 1 1 auto;
}

#footer {
    margin-top: 5em;
    flex: 0 1 auto;
}

div.fixed-margin {
    margin-bottom: -.5rem;
}

button.min-width {
    min-width: 18.5em;
}

button.min-width-small {
    min-width: 15em;
}

div.spacedMenu {
    margin-left: .1em;
    margin-right: .1em;
}

div.invisible {
    visibility: hidden;
}
